/* Keywords  */
/* Navbar Configuration  */
/* Carousel  */
/* Carousel 2  */
/* Gallery  */

/* Buttons */
/* backgrounds - colors  */


/* General Styles  */
body {
  padding: 50px 0px 0px 0px;
  z-index: 0; 
  font-family: benton-sans,Helvetica,"Sans-serif";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: #2a2a2a;
  font-size: 1em ;
  user-select: none;
}

.small-text {
  font-size: .875rem;
}

.no-boxShadow {
  box-shadow: none !important;
}

.smallest-text {
  font-size: .65rem;
}

.aboutus-title {
  font-family: ff-more-web-pro,serif;
  font-weight: 400;
  font-size: 30px;
}

.light-gray {
  color: #7a7a7a !important;
}

.bg-light-grin {
  background: #34ca96;
}

.light-grin {
  color: #088366;
}

.color-orange {
  color: #ff3d00;
}

.color-orange:hover {
  color: #ff3d00;
}

/* Modal  */
.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.facebook-btn {
  color: #fff !important;
  background-color: #405c9d;
}

.facebook-btn:hover {
  color: #fff !important;
}

.modal input {
  font-size: 1em !important;
}

.modal i {
  color: #fff !important;
}

/* Navbar Configuration */
nav {
  font-size: 1em !important;
  border-bottom: 1px solid #d8d6d6;
}

.navbar-dark {
  background-color: black;
}

nav .nav-link {
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  color: #ff3d00
}

nav .nav-item {
  color: black;
  font-weight: bold;
}

.nav-item:hover {
  color: rgb(240, 82, 9);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.nav .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  background-color: #fff;
  outline: none;
  border-color: none; }

.navbar-toggler .btn {
  background: white;
  outline: none;
  border: none;
  text-decoration: none;
}

.border-line {
  outline: none;
}

.border-left {
  margin: 3px;
  padding: 0;
}


/* Primary Layout */
.row-header {
    margin: 0px auto;
    padding: 0px 0px; }
  
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    /* border-bottom: 1px ridge; */
    min-height: 400px; }

  
  .jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #9575CD;
    color: floralwhite; }
  
  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; }
  
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; }
  

.introduction {
  height: 406px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 40px 40px;
    position: static;
}

.introduction .title {
  font-family: ff-more-web-pro,serif;
  font-weight: 400;
  font-size: 36px;
}

.introduction .content {
  font-size: 18px;
}
    
/* Carousel */
    .carouselNumberOne .carousel {
      background: #666566; }
      .carouselNumberOne .carousel .carousel-item {
        height: 390px; }
        .carouselNumberOne .carousel .carousel-item img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 390px;
          object-fit: cover
        }

        .carouselNumberOne .carousel-caption {
          left: 0;
          text-align: left;
          padding-bottom: 85px;
        }


        .carouselNumberOne .carousel-control-prev-icon,
        .carousel-control-next-icon{
          position: absolute;
          /* left: 0; */
          right: 0;
          margin-right: 10px;
          margin-left: -2px;
          bottom: 12px;
          font-size: 100px;
        }

        .carouselNumberOne .carousel-indicators {
          margin: 0;
          padding-bottom: 45px;
          justify-content: start;
          padding-left: 14px;
        }
        
        .carousel-cd .card {
          max-width: 35em;
          height: 19rem;
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #fff;
          color: black;
        }

        .carousel-cd {
          position: absolute;
          top: 27px;
          z-index: 10;
          /* left: 0; */
          right: 0;
          width: -18em;
        }

        .carousel-cd .card-body {
          padding: 62px 85px 40px 52px;
          color: black;
        }

        .carousel-cd .card-title {
          font-family: ff-more-web-pro,serif;
          font-weight: 400;
          font-size: 36px;
        }

  /* Carousel 2  */

  .carousel-multi-item .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
  }

  .carousel-cards .card {
    cursor: pointer;
    height: 594px;
  }

  @media (min-width: 480px) {
    .collection-image {
      height: 34rem;
    }
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .collection-image {
      height: 42rem;
    }
   }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .carousel-cards .card {
      height: 38rem;
    }
  }
  
  /* // Extra large devices (large desktops, 1200px and up) */
  /* @media (min-width: 1200px) {
    .collection-image {
      height: 393px;
    }
  } */

        /* .carousel-control-prev,
        .carousel-control-next{
          position: absolute;
          left: 0;
          align-items: flex-end;
        }

        .carousel-control-next-icon {
          position: absolute;
          right: 0;
        } */

   /* .carousel {
    max-height: 400px;
   }
    .carousel .carousel-item {
      height: 400px;
      background:rgba(0,0,0,0.6);
      width: 100%;
    }
 
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
       max-height: 400px;
      height: 400px;
      object-fit: cover;  
      width: auto; 
    } */

      /* .carousel .carousel-item .col-md {
        height: 200px;
      } */
/* 
      .carousel .carousel-item img .col-md {
        min-height: 200px;
       } */

  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1; }
  

  
  .no-padding {
    padding: 0;
  }

/* Buttons */
.light-style .btn {
  border: 1px solid #afafaf;
  padding: 3px 1rem;
  border-color: #949494;
  height: 2.5rem;
  font-size: 14px;
}

/* backgrounds - colors  */
.bg-orange {
  background: #ff3d00;
  color: #fff;
}

.text-orange {
  color: #ff3d00;;
}

.bg-orange:hover {
  background-color: #e64616;
  border-color: #ff3d00 ;
  color: #fff;
}

.btn-gris:hover {
  color: #ff3d00;
  background-color: whitesmoke;
  border-color: black;
}

/* ----------------------------------------Gallery--------------------------------------------------- */
.gallery img {
  padding-bottom: 10px;
}

.collection {
  text-decoration: none;
  color: #2a2a2a !important;
}

.collection-background:hover {
  background: rgba(0,0,0,.26);
  transition: background .3s;
}

.collection-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  content: "";  
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-image {
  position: relative;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 236px;
}

.collection-heading {
  z-index: 10;
  color: #fff;
}

.coll-link{
  color: black;
}

.coll-link:hover {
  color: #ff3d00 !important;
}

.coll-link .fa-chevron-right:before:hover {
  color: #ff3d00;
}


@media (min-width: 480px) {
  .collection-image {
    height: 306px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .collection-image {
    height: 498px;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .collection-image {
    height: 316px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .collection-image {
    height: 393px;
  }
}




/* FONTS  */
@media (min-width: 768px) {
  .container .h2-responsive {
    font-size: 2rem;
  }
}
@media (min-width: 480px) {
  .container .h2-responsive {
    font-size: 2.5rem;
  }
}

.h2-responsive {
  font-size: 2.5rem;
}

/* ---------------------------------------- Aboutus ---------------------------------------------------  */

.background-aboutus {
  padding-bottom: 0;
  height: 100%;
}

.aboutus-wrapper {
  padding-bottom: 0;
  height: 100%;
}

.background-about-image {
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0 20px;
  color: #2a2a2a !important;
} 

.principal-aboutus {
  height: 552px;
}

@media (min-width: 768px) {
  .principal-aboutus {
    height: 350px;
  }
}

/* ----------------------------------------  Interests section  ----------------------------------------  */

.interest-icons {
  font-size: 3.5em;
  color: #f5430b;
}

/* ----------------------------------------  Journal section  ----------------------------------------  */

.journal-image {
  position: relative;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 260px;
  width: 100%;
  padding: 0;
}

/* ----------------------------------------  footer  ----------------------------------------  */

footer {
  padding: 60px 10px 0;
  background-color: #f5f5f5;
  /* margin: 0px auto;
  padding: 20px 0px;  */ 
}

.contactus-icon {
  color: #ff3d00;
  font-size: 45px;
}

.contactus-footer-icons {
  font-size: 10px;
}

.change-currency {
  padding-left: 0;
}

h6 {
  color: #7a7a7a;
}

li a {
  color: rgb(82, 82, 82);
}

li a:hover {
  color: rgb(82, 82, 82);
  text-decoration: underline;
}

.contactus-info {
  padding-bottom: 40px;
}


.form-control {
  font-size: 1.1em;
}

.footer-copyright {
  border-top: 2px solid #ddd;
  padding: 10px 0 40px;
  font-size: 17px;
}