body {
  padding: 50px 0px 0px 0px;
  z-index: 0; 
  font-family: benton-sans,Helvetica,"Sans-serif";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: #2a2a2a;
  font-size: 1em !important;
}

/* Navbar Configuration */
nav {
  font-size: 1em;
  border-bottom: 1px solid #d8d6d6;
}

.navbar-dark {
  background-color: black;
}

nav .nav-link {
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  color: #ff3d00
}

nav .nav-item {
  color: black;
  font-weight: bold;
}

.nav-item:hover {
  color: rgb(240, 82, 9);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.nav .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  background-color: #fff;
  outline: none;
  border-color: none; }

.navbar-toggler .btn {
  background: white;
  outline: none;
  border: none;
  text-decoration: none;
}

.border-line {
  outline: none;
}

.border-left {
  margin: 3px;
  padding: 0;
}


/* Primary Layout */
.row-header {
    margin: 0px auto;
    padding: 0px 0px; }
  
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    /* border-bottom: 1px ridge; */
    min-height: 400px; }
  
  .footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px; }
  
  .jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #9575CD;
    color: floralwhite; }
  
  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; }
  
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; }
  

.introduction {
  height: 406px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 40px 40px;
    position: static;
}

.introduction .title {
  font-family: ff-more-web-pro,serif;
  font-weight: 400;
  font-size: 36px;
}

.introduction .content {
  font-size: 18px;
}
    
/* Carousel */
    .carouselNumberOne .carousel {
      background: #666566; }
      .carouselNumberOne .carousel .carousel-item {
        height: 390px; }
        .carouselNumberOne .carousel .carousel-item img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 390px;
          object-fit: cover
        }

        .carouselNumberOne .carousel-caption {
          left: 0;
          text-align: left;
          padding-bottom: 85px;
        }


        .carouselNumberOne .carousel-control-prev-icon,
        .carousel-control-next-icon{
          position: absolute;
          /* left: 0; */
          right: 0;
          margin-right: 10px;
          margin-left: -2px;
          bottom: 12px;
        }

        .carouselNumberOne .carousel-indicators {
          margin: 0;
          padding-bottom: 45px;
          justify-content: start;
        }
        
        .carousel-cd .card {
          max-width: 35em;
          height: 19rem;
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #fff;
          color: black;
        }

        .carousel-cd {
          position: absolute;
          top: 27px;
          z-index: 10;
          /* left: 0; */
          right: 0;
          width: -18em;
        }

        .carousel-cd .card-body {
          padding: 62px 85px 40px 52px;
          color: black;
        }

        .carousel-cd .card-title {
          font-family: ff-more-web-pro,serif;
          font-weight: 400;
          font-size: 36px;
        }

  /* Carousel 2  */
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: inline-flex;
  }

        /* .carousel-control-prev,
        .carousel-control-next{
          position: absolute;
          left: 0;
          align-items: flex-end;
        }

        .carousel-control-next-icon {
          position: absolute;
          right: 0;
        } */

   /* .carousel {
    max-height: 400px;
   }
    .carousel .carousel-item {
      height: 400px;
      background:rgba(0,0,0,0.6);
      width: 100%;
    }
 
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
       max-height: 400px;
      height: 400px;
      object-fit: cover;  
      width: auto; 
    } */

      /* .carousel .carousel-item .col-md {
        height: 200px;
      } */
/* 
      .carousel .carousel-item img .col-md {
        min-height: 200px;
       } */

  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1; }
  
  .modal .modal-header {
    background-color: #512DA8;
    color: floralwhite; }
    .modal .modal-header .close {
      color: floralwhite; }
  
  .modal .modal-body {
    background-color: #D1C4E9; }
  
  .no-padding {
    padding: 0;
  }

/* Buttons */
.card-boton .btn {
  border: 1px solid #afafaf;
  padding: 3px 1rem;
  border-color: #949494;
  height: 2.5rem;
  font-size: 14px;
}

/* backgrounds - colors  */
.bg-orange {
  background: #ff3d00;
  color: #fff;
}

.text-orange {
  color: #ff3d00;;
}

.bg-orange:hover {
  background-color: #e64616;
  border-color: #ff3d00 ;
  color: #fff;
}

.btn-gris:hover {
  color: #ff3d00;
  background-color: whitesmoke;
  border-color: black;
}